<h1><%= @article.title %></h1>
<% if @article.author %>
<p>Author: <%= @article.author.username %> (<%= @article.author.email %>)</p>
<% end %>
<p>Current user: <%= current_user.username %> (<%= current_user.email %>)</p>
<p>Visits: <%= @article.view_count %></p>
<p>
Tags:
<% @article.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>
<% end %>
</p>
<p><%= @article.body %></p>
<% if @article.image.exists? %>
  <p><%= image_tag @article.image.url :medium %></p>
<% end %>

<% if logged_in? %>
  <%= link_to 'edit', edit_article_path(@article) %>
  </br>
  <%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
  </br>
<% end %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<%= link_to '<< Back to articles', articles_path %>
